<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # 处理 OPTIONS preflight
    RewriteCond %{REQUEST_METHOD} OPTIONS
    RewriteRule ^(.*)$ index.php [QSA,L]

    # 非真实文件与目录全部重定向至 index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

# 禁止浏览目录
Options -Indexes

# 保护隐藏文件
<FilesMatch "^\.">
    Require all denied
</FilesMatch>
