# Xcode
build/
DerivedData/
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# macOS
.DS_Store
*.swp
*~

# Secrets
*.xcconfig

# Backend Storage & Cache
backend/storage/*.sqlite*
backend/storage/cache/*
backend/storage/logs/*
