<IfModule mod_rewrite.c>
    RewriteEngine On

    # OPTIONS preflight
    RewriteCond %{REQUEST_METHOD} OPTIONS
    RewriteRule ^(.*)$ public/index.php [QSA,L]

    # 将所有非静态直接访问重定向至 public/index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/index.php [QSA,L]
</IfModule>

Options -Indexes
<FilesMatch "^\.">
    Require all denied
</FilesMatch>
